<div class="container" >
<mat-card class="card-container" (mouseover)="isHovering=true" (mouseout)="isHovering=false" (click)="navigateToDetails()">

  <img mat-card-image src="{{productImage}}/{{product.photos[0]?.url}}" alt="{{product.name}}">

  <mat-card-header>
    <mat-card-title> {{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.brand}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-button *ngIf="!isHovering">${{product.price}} </button>
    <button mat-button  aria-label=" cart icon" *ngIf="isHovering">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
</div>
