<section class="title">
  <app-title
    description="SHOW UP. STEP UP. HAVE FUN."
    title1="Our"
    title2="Classes"
  ></app-title>
</section>
<section class="classes">
  <div class="containers">
    <div class="card">
      <div class="card-image">
        <img src="/assets/images/post-6.jpg" alt="class" />
      </div>
      <div class="card-info">
        <div class="date">
          <div class="day">
            <mat-icon class="date-icon">calendar_today</mat-icon>
            Nov 12 2021
          </div>
          <div class="time">
            <mat-icon class="date-icon">watch_later</mat-icon>
            5:30 PM
          </div>
        </div>
        <h1 class="card-title">aaaaaassllad,zdz</h1>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa placeat
          corrupti temporibus facilis dolorum porro fugit, facere sint neque in
          iure dolores culpa est. Velit autem atque omnis perspiciatis mollitia?
        </p>
        <div class="btnContainer">
          <app-button btnName="Join Class" iconName="arrow_right"></app-button>
        </div>
      </div>
    </div>
  </div>
</section>
