.container{
 // height: 100vh;
  //width: 100%;
  margin-top: 20px;
  margin-left: 5px;
  margin-right:5px;
  display: flex;
 // flex-direction: row;
  //justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;

}

.child{
  flex: 5 0 24%;
  width: 100%;
}
