.container{
  width: 100%;
  margin-top: 20px;
}

.child{
  width: calc(25% - 10px);
  position: relative;
  float: left;
  padding: 2px;
}



@media (max-width:991.98px)  {
  .child{
    width: calc(33% - 8px);
  }

}

@media (max-width: 767.98px) {
  .child {
    width: calc(50% - 6px);
  }


}

@media (max-width: 575.98px) {
  .child {
    width: calc(100% - 4px);
  }

}


