<section class="title">
  <app-title
    description=""
    title1="Coach-led Personal"
    title2="and Group Fitness Training "
  ></app-title>
  <div class="sub-title">
    Designed to help you reach your own individual goals. Our coaches lead group
    and one-on-one workouts that actually work.
  </div>
</section>
<section class="techniques">
  <div class="containers">
    <div class="row">
      <div class="col" data-aos="fade-up" data-aos-duration="2000">
        <app-card
          description="Through a short survey, conversation, and a movement assessment, your coach will prescribe the perfect program to get you started and on track to meet your fitness goals. "
          title="Fitness Consultation"
          image="/assets/images/methods/bodyShape2.jpg"
          cardHeight="600px"
          [hasBtn]="true"
          btnName="Learn More"
          cardBg="linear-gradient(to right,rgb(221, 235, 255),rgb(239, 246, 255))"
        ></app-card>
      </div>
      <div class="col" data-aos="fade-up" data-aos-duration="2000">
        <app-card
          description="Full-body workouts are designed to build strength and endurance, using the energy of a small group or team of people around you and the expertise of the coach to maximize your results. "
          title="Group Workouts"
          image="/assets/images/methods/bodyShape2.jpg"
          cardHeight="600px"
          [hasBtn]="true"
          btnName="Learn More"
          cardBg="linear-gradient(to right,rgb(221, 235, 255),rgb(239, 246, 255))"
        ></app-card>
      </div>
      <div class="col" data-aos="fade-up" data-aos-duration="2000">
        <app-card
          description="One-on-one personalized workouts with your coach are designed to make you stronger from the inside out.  "
          title="One-on-one Training"
          image="/assets/images/methods/bodyShape2.jpg"
          cardHeight="600px"
          [hasBtn]="true"
          btnName="Learn More"
          cardBg="linear-gradient(to right,rgb(221, 235, 255),rgb(239, 246, 255))"
        ></app-card>
      </div>
    </div>
  </div>
</section>
