
.section{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    //padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111;
    transition: 0.5s;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.toggle{
    color: #fff;   
    width: 60px;
    height: 60px;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,#00f,#f00);
    mix-blend-mode: overlay;
}
.text{
    padding: 100px;
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 6em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3{
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text p{
    position: relative;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: #fff;

}
.text a{
    display: inline-block;
    font-size: 1.1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
}
.sci{
    
    padding: 100px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);

}