<section class="section">
  <!-- <div class="header">
      <h2 class="logo">Your Logo</h2>
      <div class="toggle">aaaaaaaaaa</div>
    </div> -->
  <video
    src="/assets/videos/{{ videoName | defaultVideo }}"
    muted
    loop
    autoplay
    class="video"
  ></video>
  <div class="overlay"></div>
  <div class="text">
    <!-- <h2>{{ title }}</h2>
    <h3>{{ subTitle }}</h3>
    <p>
      {{ description }}
    </p>
    <div *ngIf="joinUs">
      <a href="#">Join us</a>
    </div> -->
    <!-- <ul class="sci">
        <li><a href="#"><img src="facebook.png"></a></li>
        <li><a href="#"><img src="facebook.png"></a></li>
        <li><a href="#"><img src="facebook.png"></a></li>
      </ul> -->
  </div>
</section>
