<section class="section">
  <!-- <div class="header">
      <h2 class="logo">Your Logo</h2>
      <div class="toggle">aaaaaaaaaa</div>
    </div> -->
  <div *ngIf="this.videoName.endsWith(this.mp4)">
    <video
      src="/assets/videos/{{ videoName | defaultVideo }}"
      muted
      loop
      autoplay
      class="video"
    ></video>
  </div>
  <div *ngIf="!this.videoName.endsWith(this.mp4)">
    <img
      src="/assets/videos/{{ videoName | defaultLandingImage }}"
      class="video"
    />
  </div>
  <div class="overlay"></div>
  <div
    class="text"
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
    data-aos-duration="1000"
  >
    <h2>{{ title }}</h2>
    <h3>{{ subTitle }}</h3>
    <p>
      {{ description }}
    </p>
    <div *ngIf="joinUs">
      <button class="joinButton" href="#">Join us</button>
    </div>
    <!-- <ul class="sci">
        <li><a href="#"><img src="facebook.png"></a></li>
        <li><a href="#"><img src="facebook.png"></a></li>
        <li><a href="#"><img src="facebook.png"></a></li>
      </ul> -->
  </div>
</section>
