<section class="title">
  <app-title
    description="Build Your Best Body"
    title1="Our"
    title2="methods"
  ></app-title>
</section>
<section class="bg">
  <div class="cont"></div>
</section>
<section class="methods">
  <div class="containers text-center">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="img img-1">
            <img
              src="/assets/images/methods/bodyShape2.jpg"
              class="img"
              alt="p1"
            />
          </div>
          <div class="description">
            <h2>Body Shape</h2>
            <p>
              Body shapes differ in body fat levels and muscle accumulation and
              are determined by genetics. People have different body shapes,
              with men having rectangular shape and women having hourglass
              shape.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="img img-2">
            <img
              src="/assets/images/methods/extreme2.jpg"
              class="img"
              alt="p1"
            />
          </div>
          <div class="description">
            <h2>Extreme</h2>
            <p>
              Specific or task-oriented fitness is a person's ability to perform
              in a specific activity, such as sports or military service, with a
              reasonable efficiency. Specific training prepares athletes to
              perform well in their sport.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="img img-3">
            <img src="/assets/images/methods/burn.jpg" class="img" alt="p1" />
          </div>
          <div class="description">
            <h2>Burn</h2>
            <p>
              ake advantage of Burn Boot Camp’s challenging & transformative
              45-minute workout, complete nutritional support, trainer focus
              meetings, access to online workouts, and the best fitness
              community in the world.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="img img-4">
            <img src="/assets/images/methods/hiit2.jpg" class="img" alt="p1" />
          </div>
          <div class="description">
            <h2>Hiit</h2>
            <p>
              HIIT, or high-intensity interval training, is a training technique
              in which you give all-out, one hundred percent effort through
              quick, intense bursts of exercise, followed by short, sometimes
              active, recovery periods.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-container" (click)="navigateToPrograms()">
      <app-button btnName="Our Programs" iconName="arrow_right" ></app-button>
    </div>
  </div>
</section>
