.container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar {
  color: rgb(255, 255, 255);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar .link {
  color: rgb(224, 222, 222);

  text-decoration: none;
  font-weight: 600;
}
.navbar .link:hover {
  color: white;
}

.navbar .logo {
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.navbar .navLinks {
  display: flex;
  align-items: center;
}

.navbar .navLinks ul {
  display: flex;
  list-style: none;
}

.navbar .navLinks ul li {
  margin: 0 25px;
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar .menuIcon {
  display: none;
  position: absolute;
  top: 45px;
  right: 20px;
  width: 50px;
  font-size: 2rem;
}

.joinButton {
  background-color: rgba(255, 255, 255, 0.777);
  text-decoration: none;
  padding: 15px;
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.835);
  border: none;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
}
.joinButton:hover {
  background-color: white;
  box-shadow: 0px 12px 30px 0px rgba(128, 127, 127, 0.34);
}
@media screen and (max-width: 1250px) {
  .navbar .logo{
    font-size: 1.5em;
  }
  .navbar .navLinks ul li {
    font-size: 1.3em;
    margin: 0 12px;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;
  }
  .navbar .link {
    color: white;
  }
  .navbar .logo {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 2em;
  }

  .navbar .menuIcon {
    display: block;
  }
  .navLinks {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.6s ease;
  }

  .navLinks.mobile-menu {
    margin-left: 0;
  }

  .navLinks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navLinks ul li {
    margin: 25px 0;
    font-size: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
