<div class="container">
  <div class="navbar">
    <div class="image">
      <img src="/assets/images/logos/logo-8.png" alt="Product">
  </div>
    <div class="navLinks">
      <ul>
        <li><a href="#" class="link">Home</a></li>
        <li><a href="#" class="link">Power</a></li>
        <li><a href="#" class="link">Support</a></li>
        <li><a href="#" class="link">Infos</a></li>
        <li><a href="#" class="link">Contact</a></li>
        <li><a href="#" class="joinButton" >Join now</a></li>
      </ul>
      <!-- <button class="joinButton">Join now</button> -->
    </div>

    <mat-icon class="menuIcon" (click)="activateMenu()">
      {{ this.navbarIcon }}
    </mat-icon>
  </div>
</div>
