<div class="container">
  <div class="navbar">
    <a href="#" class="logo">POWER FACTORY</a>
    <div class="navLinks">
        <ul>
            <li><a href="#">Home</a> </li>
            <li><a href="#">Power</a> </li>
            <li><a href="#">Support</a> </li>
            <li><a href="#">Infos</a> </li>
            <li><a href="#">Contact</a> </li>
        </ul>
    </div>
    
        <mat-icon class="menuIcon" (click)="activateMenu()" >{{this.navbarIcon}}</mat-icon>
    


  </div>
</div>
