<section class="policy">
  <div class="containers text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <mat-icon class="round-icon"> directions_car </mat-icon>
          </div>
          <h2>Free Shipping &amp; Return</h2>
          <p>Free shipping on all Tunisia order</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <mat-icon class="round-icon"> refresh </mat-icon>
          </div>
          <h2>Money Back Guarentee</h2>
          <p>30 days money back guarentee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <mat-icon class="round-icon"> phone_in_talk </mat-icon>
          </div>
          <h2>Online support 24/24</h2>
          <p>We support online 24/24 on a day</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="policy-product">
  <div class="containers">
    <owl-carousel-o [options]="customOptions" class="carousel">
      <ng-template carouselSlide *ngFor="let blog of this.blogsList">
        <div class="policy-p-card" data-aos="zoom-in" data-aos-duration="1000">
          <div class="date">
            <h3>{{ blog.day }}</h3>
            <h4>{{ blog.month }}</h4>
          </div>
          <div class="policy-img">
            <img src="{{ blog.image }}" class="policy-img" alt="p1" />
          </div>
          <h2>{{ blog.title }}</h2>
          <p>{{ blog.description.substring(0, 340) }} ...</p>
          <app-button btnName="Read More" iconName="arrow_right"></app-button>
        </div>
      </ng-template>
      <!-- <ng-template carouselSlide>
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img
              src="/assets/images/blogs/post-1.jpg"
              class="policy-img"
              alt="p1"
            />
          </div>
          <h2>Lorem ipsum, dolor sit</h2>
          <p>
            amet consectetur adipisicing elit. Similique, illo! Enim excepturi
            ullam perspiciatis. Modi reprehenderit unde laborum. Corporis
            numquam mollitia quasi facere amet ipsam voluptatem consequatur,
            perspiciatis aperiam veritatis. numquam mollitia quasi facere amet
            ipsam voluptatem consequatur, perspiciatis aperiam veritatis.
          </p>
          <app-button btnName="Read More" iconName="arrow_right"></app-button>
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img src="/assets/images/blogs/post-1.jpg" alt="p1" />
          </div>
          <h2>Lorem ipsum, dolor sit</h2>
          <p>
            amet consectetur adipisicing elit. Similique, illo! Enim excepturi
            ullam perspiciatis. Modi reprehenderit unde laborum. Corporis
            numquam mollitia quasi facere amet ipsam voluptatem consequatur,
            perspiciatis aperiam veritatis. numquam mollitia quasi facere amet
            ipsam voluptatem consequatur, perspiciatis aperiam veritatis.
          </p>

          <app-button btnName="Read More" iconName="arrow_right"></app-button>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img
              src="/assets/images/blogs/post-1.jpg"
              class="policy-img"
              alt="p1"
            />
          </div>
          <h2>Lorem ipsum, dolor sit</h2>
          <p>
            amet consectetur adipisicing elit. Similique, illo! Enim excepturi
            ullam perspiciatis. Modi reprehenderit unde laborum. Corporis
            numquam mollitia quasi facere amet ipsam voluptatem consequatur,
            perspiciatis aperiam veritatis. numquam mollitia quasi facere amet
            ipsam voluptatem consequatur, perspiciatis aperiam veritatis.
          </p>
          <app-button btnName="Read More" iconName="arrow_right"></app-button>
        </div>
      </ng-template> -->
    </owl-carousel-o>
    <!-- <div class="row">
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img
              src="/assets/images/blogs/post-1.jpg"
              class="policy-img"
              alt="p1"
            />
          </div>
          <h2>Lorem ipsum, dolor sit</h2>
          <p>
            amet consectetur adipisicing elit. Similique, illo! Enim excepturi
            ullam perspiciatis. Modi reprehenderit unde laborum. Corporis
            numquam mollitia quasi facere amet ipsam voluptatem consequatur,
            perspiciatis aperiam veritatis. numquam mollitia quasi facere amet
            ipsam voluptatem consequatur, perspiciatis aperiam veritatis.
          </p>
          <app-button btnName="Read More" iconName="arrow_right"></app-button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img src="/assets/images/blogs/post-1.jpg" alt="p1" />
          </div>
          <h2>Lorem ipsum, dolor sit</h2>
          <p>
            amet consectetur adipisicing elit. Similique, illo! Enim excepturi
            ullam perspiciatis. Modi reprehenderit unde laborum. Corporis
            numquam mollitia quasi facere amet ipsam voluptatem consequatur,
            perspiciatis aperiam veritatis. numquam mollitia quasi facere amet
            ipsam voluptatem consequatur, perspiciatis aperiam veritatis.
          </p>

          <a href="" class="read-more"
            >Read More
            <mat-icon class="arrow-icon">arrow_right</mat-icon>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img
              src="/assets/images/blogs/post-1.jpg"
              class="policy-img"
              alt="p1"
            />
          </div>
          <h2>Lorem ipsum, dolor sit</h2>
          <p>
            amet consectetur adipisicing elit. Similique, illo! Enim excepturi
            ullam perspiciatis. Modi reprehenderit unde laborum. Corporis
            numquam mollitia quasi facere amet ipsam voluptatem consequatur,
            perspiciatis aperiam veritatis. numquam mollitia quasi facere amet
            ipsam voluptatem consequatur, perspiciatis aperiam veritatis.
          </p>
          <app-button btnName="Read More" iconName="arrow_right"></app-button>
        </div>
      </div>
    </div> -->
  </div>
</section>
