<section class="policy">
  <div class="containers text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <mat-icon class="round-icon"> directions_car </mat-icon>
          </div>
          <h2>Free Shipping &amp; Return</h2>
          <p>Free shipping on all UK order</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <mat-icon class="round-icon"> refresh </mat-icon>
          </div>
          <h2>Money Back Guarentee</h2>
          <p>30 days money back guarentee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <mat-icon class="round-icon"> phone_in_talk </mat-icon>
          </div>
          <h2>Online support 24/24</h2>
          <p>We support online 24/24 on a day  </p>
        </div>
      </div>
    </div>
  </div>
</section>
