<div class="container">
  <mat-drawer-container class="example-container" >
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <div class="filter-close-container">
        <div>Filter</div>
        <div><button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.close()">
          <mat-icon>clear</mat-icon>
        </button></div>
      </div>

      <div>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">



          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.item">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-checkbox [checked]="descendantsAllSelected(node)"
                          [indeterminate]="descendantsPartiallySelected(node)"
                          (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>

          </mat-tree-node>

          </mat-tree>

        <div>
          <button mat-stroked-button (click)="click()">Search</button>
        </div>
      </div>

    </mat-drawer>

    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Power Factory</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <app-product-list> </app-product-list>


  </mat-drawer-container>

</div>
