<div class="container">
  <div class="imgContainer" >
    <img src="/assets/images/home.png" class="image" data-aos="zoom-in-up" data-aos-duration="1000"/>
  </div>
  <div class="chooseUs" data-aos="fade-right" data-aos-duration="1500">
    <div class="title" >
      <span class="title_border">WHY </span>
      <span>CHOOSE US ?</span>
    </div>
    <div class="description">
      Born Fitness is a big source for health and fitness. The blog aims to take the stress out of health, fitness, and nutrition. They have a no-hype, straightforward tone that delivers informative yet engaging content. Founder of Born Fitness Adam Bornstein works with world-class fitness experts to deliver clear and helpful answers. 
    </div>
    <div class="stats">
      <div class="stat">
        <span class="number">200+</span><span>Total Members</span>
      </div>
      <div class="stat">
        <span class="number">50+</span><span>Best Trainers</span>
      </div>
      <div class="stat">
        <span class="number">25+</span><span>Programs</span>
      </div>
      <div class="stat">
        <span class="number">100+</span><span>Awards</span>
      </div>
    </div>
  </div>
</div>
