<div class="container">
  <div class="imgContainer">
    <img src="/assets/images/home.png" class="image" />
  </div>
  <div class="chooseUs">
    <div class="title">
        <span class="title_border">WHY </span> 
        <span>CHOOSE US ?</span>
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam veritatis,
      voluptates quasi laboriosam ipsa excepturi dolores cumque harum autem
      dolor optio ad necessitatibus quia quam soluta? Dignissimos neque
      assumenda a?
    </div>
    <div class="stats">
        <div class="stat"><span class="number">20+</span><span >aaaaaa</span></div>
        <div class="stat"><span class="number">20+</span><span>aaaaaa</span></div>
        <div class="stat"><span class="number">20+</span><span>aaaaaa</span></div>
        <div class="stat"><span class="number">20+</span><span>aaaaaa</span></div>
    </div>
  </div>
</div>
