/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --blue-dark: #041b59;
  --blue-1: #015c92;
  --blue-2: #2d82b5;
  --blue-3: #58b3eb;
  --blue-4: #88cdf6;
  --blue-5: #bce6ff;
  --yellow: #f8d90f;
  --light-green: #d3dd18;
  --orange: #fe7a15;
  --red: #ee6c4d;
}

.policy-product .owl-prev,
.policy-product .owl-next {
  background: rgb(158 158 158 / 28%) !important;
  color: var(--blue-1) !important;
  height: 60px !important ;
  width: 60px !important;
  border-radius: 50% !important;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease;
}
.policy-product .owl-prev:hover,
.policy-product .owl-next:hover {
  background: var(--blue-1) !important;
  color: #fff !important;
  i {
    font-size: 40px !important;
  }
}
.policy-product .owl-prev {
  left: -8px;
  transform: translate(-50%, -50%);
}
.policy-product .owl-next {
  right: -78px;
  transform: translate(-50%, -50%);
}
.policy-product .owl-prev i,
.policy-product .owl-next i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
}

//promo-products

.promo-products .owl-prev,
.promo-products .owl-next {
  width: 30px !important;
  margin: 10px 40px 0 !important;
  transition: all 0.3s ease;
  background: rgb(158 158 158 / 28%) !important;
  color: var(--blue-1) !important;
}
.promo-products .owl-prev:hover,
.promo-products .owl-next:hover {
  background: var(--blue-1) !important;
  color: #fff !important;
  transform: scale(1.2);
  box-shadow: 0px 12px 30px 0px rgba(128, 127, 127, 0.532);
}
.promo-products .owl-prev i,
.promo-products .owl-next i {
  font-size: 20px;
}



//programs dots
.programs .owl-dots {
  margin-top: 20px;
  width: 70%!important;
  margin: 0 auto!important;
  display: flex!important;
  justify-content: space-between!important;
}
.programs .owl-dots::before {
  content: "";
  width: 70%!important;
  margin: 0 auto!important;
  height: 3px!important;
  background: #015c92!important;
  opacity: 0.6!important;
  position: absolute!important;
  bottom: 13px!important;
  // left: 50%;
  // transform: translateX(-50%);
}
.programs .owl-dots .owl-dot.active span{
  // font-size: larger;
  
  background-color: #ee6c4d!important;
  
}
.programs .owl-dots .owl-dot{
  z-index: 1000;
}
.programs .owl-dots .owl-dot span:hover{
  background-color: #f3967e!important;
}
.programs .owl-dots .owl-dot span{
  
  width: 20px!important;
  height: 20px!important;
  background-color: #015c92!important;
  z-index: 1000!important;
  transition: all .3s ease;
}
@media screen and (max-width: 700px) {
  .policy-product .owl-prev,
  .policy-product .owl-next {
    height: 40px !important ;
    width: 40px !important;
  }

  .policy-product .owl-prev {
    left: 8px;
  }
  .policy-product .owl-next {
    right: -48px;
  }
  .policy-product .owl-prev:hover,
  .policy-product .owl-next:hover {
    i {
      font-size: 30px !important;
    }
  }

  //promo-products

  .promo-products .owl-prev,
  .promo-products .owl-next {
    width: 30px !important;
    margin: 10px 30px 0 !important;
  }


  //programs dots
  .programs .owl-dots .owl-dot span{
    width: 15px!important;
    height: 15px!important;
  }
  .programs .owl-dots::before {
    
    bottom: 11px!important;
    
  }
}
